# import the required libraries

In [1]:
import numpy as np
import pandas as pd

# Load Books dataset

In [2]:
books = pd.read_csv("BX-Books.csv", 
            sep=';',
            encoding= 'latin-1',
            low_memory=False,
            on_bad_lines='skip')

In [3]:
type(books)

pandas.core.frame.DataFrame

In [4]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
books.shape

(271360, 8)

In [6]:
271379 - 271360

19

In [7]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [8]:
books.iloc[0]

ISBN                                                          0195153448
Book-Title                                           Classical Mythology
Book-Author                                           Mark P. O. Morford
Year-Of-Publication                                                 2002
Publisher                                        Oxford University Press
Image-URL-S            http://images.amazon.com/images/P/0195153448.0...
Image-URL-M            http://images.amazon.com/images/P/0195153448.0...
Image-URL-L            http://images.amazon.com/images/P/0195153448.0...
Name: 0, dtype: object

In [9]:
books.drop(['Image-URL-S','Image-URL-M'],axis=1,inplace=True)

In [10]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-L'],
      dtype='object')

In [11]:
# rename the columns of the data frame
books.rename(columns={'Book-Title':'title', 
                      'Book-Author':'author', 
                      'Year-Of-Publication':'year', 
                      'Publisher':'publisher',
                      'Image-URL-L':'image_url'
},inplace=True)

In [12]:
books.columns

Index(['ISBN', 'title', 'author', 'year', 'publisher', 'image_url'], dtype='object')

# Load Books ratings dataset

In [13]:
ratings = pd.read_csv("BX-Book-Ratings.csv", 
            sep=';',
            encoding= 'latin-1',
            low_memory=False,
            on_bad_lines='skip')

In [14]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [15]:
ratings.shape

(1149780, 3)

In [16]:
ratings.rename(columns={"User-ID" :'user_id',
                        "Book-Rating":'rating'
},inplace=True)

In [17]:
ratings.columns

Index(['user_id', 'ISBN', 'rating'], dtype='object')

# Load the User dataset

In [18]:
users = pd.read_csv("BX-Users.csv", 
            sep=';',
            encoding= 'latin-1',
            low_memory=False,
            on_bad_lines='skip')

In [19]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [20]:
users.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [21]:
users.shape

(278858, 3)

In [22]:
# Lets remane some wierd columns name
users.rename(columns={"User-ID":'user_id',
                      'Location':'location',
                     "Age":'age'},inplace=True)

In [23]:
users.columns

Index(['user_id', 'location', 'age'], dtype='object')

# Shapes of the Datasets

In [24]:
books.shape, ratings.shape, users.shape

((271360, 6), (1149780, 3), (278858, 3))

# Users who has given more number of times ratings(read more books)

## Example

In [25]:
import pandas as pd

ratings1 = pd.DataFrame({
    'user_id': [1,1,1,2,2,3,3,3,3,3],
    'book_id': [10,11,12,10,13,11,12,14,15,16],
    'rating':  [5,4,3,5,4,2,3,4,5,3]
})

print(ratings1)

   user_id  book_id  rating
0        1       10       5
1        1       11       4
2        1       12       3
3        2       10       5
4        2       13       4
5        3       11       2
6        3       12       3
7        3       14       4
8        3       15       5
9        3       16       3

In [26]:
# 1- 3, 2- 2, 3-5
ratings1['user_id'].value_counts()

user_id
3    5
1    3
2    2
Name: count, dtype: int64

In [27]:
# get the users who have given more thatn 3 times ratings ==>  3 - 5
x1 = ratings1['user_id'].value_counts() > 3
x1

user_id
3     True
1    False
2    False
Name: count, dtype: bool

In [28]:
type(x1)

pandas.core.series.Series

In [29]:
# boolean masking ==>conditional based selection
x1[x1]

user_id
3    True
Name: count, dtype: bool

In [30]:
x1[x1].index

Index([3], dtype='int64', name='user_id')

In [31]:
y1 = x1[x1].index

In [32]:
condition1 = ratings1['user_id'].isin(y1)
condition1

0    False
1    False
2    False
3    False
4    False
5     True
6     True
7     True
8     True
9     True
Name: user_id, dtype: bool

In [33]:
filtered1 = ratings1[condition1]
filtered1

   user_id  book_id  rating
5        3       11       2
6        3       12       3
7        3       14       4
8        3       15       5
9        3       16       3

## Actual Program

In [34]:
ratings['user_id'].value_counts()

user_id
11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
119573        1
276706        1
276697        1
276679        1
276676        1
Name: count, Length: 105283, dtype: int64

In [35]:
# Filter the records who has given more than 200 times of ratings
x = ratings['user_id'].value_counts() > 200

In [36]:
x

user_id
11676      True
198711     True
153662     True
98391      True
35859      True
          ...
119573    False
276706    False
276697    False
276679    False
276676    False
Name: count, Length: 105283, dtype: bool

In [37]:
x[x].shape

(899,)

In [38]:
y = x[x].index

In [39]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       116122,  44296,  28634,  59727,  73681, 274808, 188951,   9856, 155916,
       268622],
      dtype='int64', name='user_id', length=899)

In [40]:
condition = ratings['user_id'].isin(y)
condition

0          False
1          False
2          False
3          False
4          False
           ...
1149775    False
1149776    False
1149777    False
1149778    False
1149779    False
Name: user_id, Length: 1149780, dtype: bool

In [41]:
ratings = ratings[condition]

In [42]:
ratings.shape

(526356, 3)

In [43]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

# Merge Books + ratings
- ratings ==> we will have only ISBN
- books ==> entire meta data information about book
- what is the common column between books and ratings ==> `ISBN`

In [44]:
books.shape, ratings.shape

((271360, 6), (526356, 3))

In [45]:
ratings_with_books = ratings.merge(books,on='ISBN')

In [46]:
ratings_with_books.shape

(487671, 8)

In [47]:
ratings_with_books.head()

,user_id,ISBN,rating,title,author,year,publisher,image_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...

In [48]:
type(ratings_with_books.groupby('title')['rating'])

pandas.core.groupby.generic.SeriesGroupBy

In [49]:
number_rating = ratings_with_books.groupby('title')['rating'].count().reset_index()
number_rating

                                                    title  rating
0        A Light in the Storm: The Civil War Diary of ...       2
1                                   Always Have Popsicles       1
2                    Apple Magic (The Collector's series)       1
3        Beyond IBM: Leadership Marketing and Finance ...       1
4        Clifford Visita El Hospital (Clifford El Gran...       1
...                                                   ...     ...
160264  Ã?Â?ber die Pflicht zum Ungehorsam gegen den S...       3
160265                                      Ã?Â?lpiraten.       1
160266                     Ã?Â?rger mit Produkt X. Roman.       1
160267                              Ã?Â?stlich der Berge.       1
160268                                  Ã?Â?thique en toc       1

[160269 rows x 2 columns]

In [50]:
# rename the column
number_rating.rename(columns = {'rating':'num_of_rating'}, inplace= True)

In [51]:
number_rating.head()

                                               title  num_of_rating
0   A Light in the Storm: The Civil War Diary of ...              2
1                              Always Have Popsicles              1
2               Apple Magic (The Collector's series)              1
3   Beyond IBM: Leadership Marketing and Finance ...              1
4   Clifford Visita El Hospital (Clifford El Gran...              1

In [52]:
final_rating = ratings_with_books.merge(number_rating,on='title')
final_rating

,user_id,ISBN,rating,title,author,year,publisher,image_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...,7
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...,1
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...,1
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...,13
...,...,...,...,...,...,...,...,...,...
487666,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,1
487667,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,1
487668,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,http://images.amazon.com/images/P/3829021860.0...,1
487669,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),http://images.amazon.com/images/P/4770019572.0...,1
487670,275970,9626340762,8,Northanger Abbey (Classic Literature with Clas...,Jane Austen,1996,Naxos Audiobooks Ltd.,http://images.amazon.com/images/P/9626340762.0...,2

In [53]:
# final_rating.T

In [54]:
final_rating

,user_id,ISBN,rating,title,author,year,publisher,image_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...,7
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...,1
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...,1
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...,13
...,...,...,...,...,...,...,...,...,...
487666,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,1
487667,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,1
487668,275970,3829021860,0,The Penis Book,Joseph Cohen,1999,Konemann,http://images.amazon.com/images/P/3829021860.0...,1
487669,275970,4770019572,0,Musashi,Eiji Yoshikawa,1995,Kodansha International (JPN),http://images.amazon.com/images/P/4770019572.0...,1
487670,275970,9626340762,8,Northanger Abbey (Classic Literature with Clas...,Jane Austen,1996,Naxos Audiobooks Ltd.,http://images.amazon.com/images/P/9626340762.0...,2

In [55]:
condition1 = final_rating['num_of_rating'] >=50
condition1

0          True
1         False
2         False
3         False
4         False
          ...
487666    False
487667    False
487668    False
487669    False
487670    False
Name: num_of_rating, Length: 487671, dtype: bool

In [56]:
final_rating = final_rating[condition1]
final_rating

,user_id,ISBN,rating,title,author,year,publisher,image_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
13,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,133
15,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,108
18,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,108
24,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,79
...,...,...,...,...,...,...,...,...,...
487505,275970,1400031354,0,Tears of the Giraffe (No.1 Ladies Detective Ag...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031354.0...,84
487506,275970,1400031362,0,Morality for Beautiful Girls (No.1 Ladies Dete...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031362.0...,60
487579,275970,1573229725,0,Fingersmith,Sarah Waters,2002,Riverhead Books,http://images.amazon.com/images/P/1573229725.0...,59
487618,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,146
487619,275970,1586212230,0,Naked,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586212230.0...,53

In [57]:
final_rating.shape

(61853, 9)

In [58]:
final_rating.columns

Index(['user_id', 'ISBN', 'rating', 'title', 'author', 'year', 'publisher',
       'image_url', 'num_of_rating'],
      dtype='object')

In [59]:
# remove the duplicate from the final_rating
# user_id, title ==> are having duplicates
final_rating.drop_duplicates(['user_id','title'],inplace=True)

C:\Users\Gopi\AppData\Local\Temp\ipykernel_31008\1697131279.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_rating.drop_duplicates(['user_id','title'],inplace=True)

In [60]:
final_rating.shape

(59850, 9)

In [61]:
487671 - 483423

4248

In [62]:
# check for the null values
final_rating.isnull().sum()

user_id          0
ISBN             0
rating           0
title            0
author           0
year             0
publisher        0
image_url        0
num_of_rating    0
dtype: int64

# Pivot table creation

- Convert long format → wide format.
- Structure:
    -  Rows → Book-Title
    -  Columns → User-ID
    -  Values → Book-Rating
- Each book becomes a vector in high-dimensional space

In [63]:
book_pivot = final_rating.pivot_table(columns='user_id', index='title', values='rating')
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Note**
- Replace `NAN` with `0`
- `NAN` ==> NotANumber

In [64]:
book_pivot.fillna(0,inplace=True)

In [65]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

**Note**
- our data contains most of `0`s ==> sparse data
- it will consumes lot of memory
- A CSR matrix (Compressed Sparse Row matrix) is a memory-efficient way to store sparse data
- It is heavily used in machine learning, recommender systems, NLP, and GenAI because real datasets (ratings, tokens, embeddings) are often sparse
- in scipy `csr_matrix` is present
- https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csr_matrix.html

In [66]:
from scipy.sparse import csr_matrix

In [68]:
# help(csr_matrix)

In [69]:
import numpy as np

In [70]:
book_sparse = csr_matrix(book_pivot)

In [71]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

```
data ==> CSR format data array of the matrix

indices ==> CSR format index array of the matrix

indptr ==> CSR format index pointer array of the matrix
```

In [72]:
book_sparse.data

array([ 9.,  8.,  9., ..., 10.,  9.,  8.], shape=(14961,))

In [73]:
book_sparse.indices

array([  0,  16,  37, ..., 745, 830, 880], shape=(14961,), dtype=int32)

In [74]:
book_sparse.indptr

array([    0,    27,    70,   104,   117,   142,   168,   183,   208,
         214,   225,   237,   243,   253,   264,   280,   314,   328,
         341,   351,   374,   428,   439,   470,   479,   491,   545,
         556,   585,   597,   620,   653,   668,   696,   702,   725,
         733,   745,   762,   781,   789,   813,   825,   853,   875,
         883,   907,   929,   937,   957,   987,   998,  1052,  1071,
        1083,  1109,  1135,  1158,  1188,  1202,  1229,  1248,  1269,
        1282,  1318,  1341,  1357,  1393,  1414,  1419,  1433,  1445,
        1481,  1502,  1519,  1534,  1557,  1586,  1601,  1610,  1626,
        1637,  1664,  1684,  1703,  1724,  1737,  1749,  1770,  1789,
        1803,  1823,  1837,  1855,  1868,  1882,  1966,  1988,  2003,
        2028,  2032,  2046,  2058,  2081,  2107,  2121,  2132,  2155,
        2167,  2189,  2206,  2229,  2252,  2278,  2287,  2306,  2325,
        2334,  2353,  2363,  2376,  2400,  2419,  2425,  2433,  2475,
        2499,  2524,  2535,  2544,  2567,  2585,  2614,  2624,  2651,
        2660,  2685,  2709,  2723,  2745,  2759,  2784,  2794,  2806,
        2816,  2829,  2843,  2857,  2868,  2882,  2889,  2902,  2907,
        2916,  2933,  2957,  2966,  2982,  2994,  3012,  3064,  3093,
        3107,  3130,  3145,  3152,  3177,  3187,  3230,  3240,  3256,
        3273,  3298,  3310,  3324,  3344,  3362,  3373,  3394,  3424,
        3446,  3456,  3467,  3480,  3498,  3501,  3506,  3521,  3529,
        3553,  3566,  3586,  3628,  3648,  3672,  3686,  3706,  3716,
        3748,  3766,  3774,  3781,  3793,  3817,  3831,  3840,  3861,
        3875,  3902,  3922,  3934,  3944,  3955,  3964,  3986,  4015,
        4049,  4077,  4098,  4113,  4141,  4156,  4181,  4194,  4222,
        4257,  4302,  4330,  4344,  4405,  4416,  4425,  4438,  4457,
        4465,  4486,  4526,  4567,  4641,  4698,  4747,  4811,  4850,
        4916,  4923,  4946,  4958,  4977,  4991,  4999,  5020,  5026,
        5041,  5055,  5071,  5092,  5126,  5142,  5155,  5160,  5184,
        5211,  5252,  5265,  5285,  5301,  5323,  5345,  5367,  5378,
        5399,  5414,  5430,  5453,  5463,  5472,  5479,  5506,  5520,
        5557,  5574,  5632,  5657,  5674,  5682,  5692,  5712,  5741,
        5753,  5764,  5784,  5799,  5803,  5818,  5837,  5848,  5868,
        5874,  5927,  5941,  5951,  5969,  5989,  6008,  6018,  6047,
        6065,  6078,  6087,  6092,  6118,  6126,  6131,  6171,  6182,
        6232,  6253,  6272,  6289,  6300,  6336,  6339,  6383,  6398,
        6411,  6445,  6460,  6480,  6492,  6503,  6509,  6528,  6570,
        6584,  6603,  6612,  6651,  6676,  6690,  6707,  6729,  6754,
        6792,  6804,  6816,  6854,  6874,  6887,  6902,  6918,  6936,
        6954,  6965,  6976,  6985,  7003,  7015,  7040,  7054,  7070,
        7094,  7110,  7121,  7146,  7188,  7208,  7228,  7237,  7255,
        7267,  7291,  7305,  7315,  7318,  7335,  7343,  7353,  7367,
        7384,  7405,  7431,  7466,  7477,  7512,  7529,  7544,  7555,
        7567,  7583,  7599,  7637,  7652,  7673,  7692,  7697,  7709,
        7735,  7757,  7776,  7788,  7799,  7824,  7836,  7858,  7874,
        7893,  7903,  7913,  7929,  7943,  7960,  7985,  7998,  8010,
        8021,  8030,  8052,  8090,  8101,  8119,  8133,  8151,  8164,
        8180,  8197,  8221,  8238,  8249,  8278,  8310,  8322,  8335,
        8352,  8364,  8381,  8395,  8409,  8420,  8435,  8448,  8469,
        8477,  8493,  8505,  8520,  8533,  8548,  8590,  8600,  8614,
        8630,  8668,  8699,  8713,  8742,  8755,  8773,  8814,  8824,
        8840,  8873,  8910,  8922,  8943,  8951,  8968,  8982,  8994,
        9004,  9053,  9065,  9071,  9081,  9090,  9112,  9134,  9146,
        9159,  9175,  9188,  9199,  9234,  9244,  9254,  9293,  9334,
        9339,  9349,  9366,  9390,  9425,  9449,  9461,  9472,  9489,
        9499,  9515,  9522,  9543,  9552,  9583,  9598,  9618,  9634,
        9647,  9657,  9679,  9709,  9725,  9754,  9792,  9806,  9819,
        9837,  9857,  9886,  9904,  9927,  9940,  9945,  9950,  9965,
       10003, 10041, 10054, 10061, 10072, 10111, 10126, 10168, 10197,
       10223, 10275, 10288, 10329, 10356, 10366, 10372, 10394, 10476,
       10510, 10524, 10540, 10559, 10578, 10616, 10630, 10644, 10667,
       10676, 10688, 10701, 10724, 10735, 10744, 10781, 10841, 10848,
       10855, 10907, 10919, 10932, 10945, 10954, 10981, 11002, 11047,
       11064, 11080, 11098, 11124, 11148, 11169, 11180, 11195, 11221,
       11260, 11287, 11319, 11336, 11374, 11397, 11412, 11431, 11441,
       11468, 11482, 11507, 11520, 11561, 11568, 11590, 11606, 11630,
       11652, 11674, 11685, 11715, 11722, 11735, 11753, 11770, 11782,
       11886, 11913, 11919, 11930, 11954, 11976, 12036, 12046, 12081,
       12138, 12155, 12202, 12261, 12287, 12304, 12321, 12366, 12378,
       12394, 12419, 12450, 12464, 12477, 12492, 12511, 12551, 12567,
       12600, 12662, 12669, 12683, 12706, 12728, 12737, 12760, 12774,
       12809, 12817, 12831, 12842, 12868, 12929, 12948, 12957, 12972,
       12980, 12998, 13042, 13068, 13078, 13093, 13130, 13146, 13173,
       13191, 13220, 13247, 13274, 13282, 13289, 13333, 13359, 13390,
       13417, 13432, 13451, 13489, 13503, 13522, 13539, 13551, 13563,
       13591, 13604, 13611, 13639, 13660, 13679, 13710, 13743, 13757,
       13774, 13846, 13871, 13878, 13891, 13898, 13911, 13931, 13940,
       13987, 14003, 14035, 14052, 14079, 14088, 14101, 14111, 14131,
       14165, 14180, 14190, 14206, 14218, 14225, 14244, 14266, 14279,
       14316, 14341, 14358, 14368, 14383, 14399, 14427, 14444, 14481,
       14535, 14555, 14588, 14597, 14607, 14626, 14657, 14682, 14692,
       14732, 14752, 14790, 14797, 14811, 14828, 14844, 14864, 14880,
       14902, 14913, 14929, 14938, 14961], dtype=int32)

In [75]:
from sklearn.neighbors import NearestNeighbors

In [76]:
model = NearestNeighbors(algorithm='brute')

In [77]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

# Test the model

In [78]:
book_pivot.iloc[237,:]

user_id
254       9.0
2276      0.0
2766      0.0
2977      0.0
3363      0.0
         ...
275970    9.0
277427    0.0
277478    0.0
277639    0.0
278418    0.0
Name: Harry Potter and the Chamber of Secrets (Book 2), Length: 888, dtype: float64

In [79]:
book_pivot.iloc[237,:].shape

(888,)

In [80]:
book_pivot.iloc[237,:].values

array([ 9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,
       10.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        9.,  0.,  0.,  0., 10.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  9.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0., 10., 10.,  0.,  0.,  7.,  0.,
        0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  8.,  0.,  0.,
        0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
        0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  8.,  0.,  0., 10.,  0.,  0.,  0.,  7.,
       10.,  0., 10.,  0., 10.,  0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
       10.,  9.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  5.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  5.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  0.,  0.,
        0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  8.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  5.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        8.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  8.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  7.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  8., 10.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0., 10.,
        0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,
        0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
       10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  9.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0., 10.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  9.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  7.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,
        0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  8.,  0.,  9.,
        0.,  0.,  0.,  0.])

In [ ]:
book_pivot.iloc[237,:].values.reshape()

In [81]:
a = np.array([10,20,30,40])
a

array([10, 20, 30, 40])

In [82]:
a.ndim

1

In [83]:
a.shape

(4,)

In [84]:
a.reshape(1,-1)

array([[10, 20, 30, 40]])

In [85]:
distance,suggestion = model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [86]:
distance

array([[ 0.        , 67.75691847, 68.05145112, 72.277244  , 75.81556568,
        76.30203143]])

In [87]:
suggestion

array([[237, 238, 240, 241, 184, 536]])

In [88]:
# to get the names of the books
for i in range(len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

In [89]:
# to get the book names
book_pivot.index

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Cry In The Night',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='title', length=742)

In [90]:
book_names = book_pivot.index

In [91]:
book_names[3]

'4 Blondes'

In [92]:
book_names[0]

'1984'

In [93]:
# [237, 238, 240, 241, 184, 536]
book_names[237]

'Harry Potter and the Chamber of Secrets (Book 2)'

In [94]:
book_names[238]

'Harry Potter and the Goblet of Fire (Book 4)'

In [96]:
final_rating.columns

Index(['user_id', 'ISBN', 'rating', 'title', 'author', 'year', 'publisher',
       'image_url', 'num_of_rating'],
      dtype='object')

In [97]:
np.where(book_pivot.index == 'Harry Potter and the Chamber of Secrets (Book 2)')

(array([237]),)

In [98]:
type(np.where(book_pivot.index == 'Harry Potter and the Chamber of Secrets (Book 2)'))

tuple

In [99]:
np.where(book_pivot.index == 'Harry Potter and the Chamber of Secrets (Book 2)')[0]

array([237])

In [100]:
type(np.where(book_pivot.index == 'Harry Potter and the Chamber of Secrets (Book 2)')[0])

numpy.ndarray

In [101]:
np.where(book_pivot.index == 'Harry Potter and the Chamber of Secrets (Book 2)')[0].ndim

1

In [102]:
np.where(book_pivot.index == 'Harry Potter and the Chamber of Secrets (Book 2)')[0][0]

np.int64(237)

In [103]:
ids = np.where(book_pivot.index == 'Harry Potter and the Chamber of Secrets (Book 2)')[0][0]

In [104]:
ids

np.int64(237)

In [105]:
final_rating.iloc[ids]

user_id                                                     278418
ISBN                                                    0451128370
rating                                                           0
title                                                    Christine
author                                                Stephen King
year                                                          1983
publisher                                      Penguin Putnam~mass
image_url        http://images.amazon.com/images/P/0451128370.0...
num_of_rating                                                   67
Name: 3065, dtype: object

In [106]:
final_rating.iloc[ids]['image_url']

'http://images.amazon.com/images/P/0451128370.01.LZZZZZZZ.jpg'

In [108]:
final_rating.iloc[321]['image_url']

'http://images.amazon.com/images/P/0439139597.01.LZZZZZZZ.jpg'

In [109]:
suggestion

array([[237, 238, 240, 241, 184, 536]])

In [110]:
# to get the names of the books in a list
book_name = []
for book_id in suggestion:
    book_name.append(book_pivot.index[book_id])

In [111]:
book_name

[Index(['Harry Potter and the Chamber of Secrets (Book 2)',
        'Harry Potter and the Goblet of Fire (Book 4)',
        'Harry Potter and the Prisoner of Azkaban (Book 3)',
        'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
        'The Cradle Will Fall'],
       dtype='object', name='title')]

In [115]:
final_rating.columns

Index(['user_id', 'ISBN', 'rating', 'title', 'author', 'year', 'publisher',
       'image_url', 'num_of_rating'],
      dtype='object')

In [112]:
# extract the ids of the books from final_rating dataframe
ids_index = []
for name in book_name[0]: 
    ids = np.where(final_rating['title'] == name)[0][0]
    ids_index.append(ids)

In [113]:
ids_index

[np.int64(44),
 np.int64(321),
 np.int64(45),
 np.int64(46),
 np.int64(786),
 np.int64(2297)]

In [116]:
# extract image urls
for idx in ids_index:
    url = final_rating.iloc[idx]['image_url']
    print(url)

http://images.amazon.com/images/P/0439064872.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0439139597.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0439136369.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/043936213X.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0446604232.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0440115450.01.LZZZZZZZ.jpg

In [117]:
book_names

Index(['1984', '1st to Die: A Novel', '2nd Chance', '4 Blondes',
       '84 Charing Cross Road', 'A Bend in the Road', 'A Case of Need',
       'A Child Called \It\": One Child's Courage to Survive"',
       'A Civil Action', 'A Cry In The Night',
       ...
       'Winter Solstice', 'Wish You Well', 'Without Remorse',
       'Wizard and Glass (The Dark Tower, Book 4)', 'Wuthering Heights',
       'Year of Wonders', 'You Belong To Me',
       'Zen and the Art of Motorcycle Maintenance: An Inquiry into Values',
       'Zoya', '\O\" Is for Outlaw"'],
      dtype='object', name='title', length=742)

In [118]:
model

NearestNeighbors(algorithm='brute')

In [120]:
final_rating

,user_id,ISBN,rating,title,author,year,publisher,image_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
13,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,133
15,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,108
18,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,108
24,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,79
...,...,...,...,...,...,...,...,...,...
487505,275970,1400031354,0,Tears of the Giraffe (No.1 Ladies Detective Ag...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031354.0...,84
487506,275970,1400031362,0,Morality for Beautiful Girls (No.1 Ladies Dete...,Alexander McCall Smith,2002,Anchor,http://images.amazon.com/images/P/1400031362.0...,60
487579,275970,1573229725,0,Fingersmith,Sarah Waters,2002,Riverhead Books,http://images.amazon.com/images/P/1573229725.0...,59
487618,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,146
487619,275970,1586212230,0,Naked,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586212230.0...,53

In [121]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [122]:
import pickle
pickle.dump(model,open('model.pkl','wb'))
pickle.dump(book_names,open('book_names.pkl','wb'))
pickle.dump(final_rating,open('final_rating.pkl','wb'))
pickle.dump(book_pivot,open('book_pivot.pkl','wb'))
print("Models are saved successfully")

Models are saved successfully

# Testing the model using a function

In [123]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1), n_neighbors=6 )
    
    for i in range(len(suggestion)):
            books = book_pivot.index[suggestion[i]]
            for j in books:
                if j == book_name:
                    print(f"You searched '{book_name}'\n")
                    print("The suggestion books are: \n")
                else:
                    print(j)

In [124]:
recommend_book("2nd Chance")

You searched '2nd Chance'

The suggestion books are:

The Next Accident
The Ghost
Exclusive
Last Man Standing
Unspeakable